body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  overflow: hidden;
  background-color: #000;
  color: #fff;
}

h1 {
  color: lime;
}

.info {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin: 20px auto;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

#snake-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
}

.snake-segment {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: lime;
  border: 1px solid #000;
  border-radius: 50%; /* Hace que los segmentos sean circulares */
}

.snake-head {
  background-color: darkgreen; /* Color diferente para la cabeza */
}
